{% extends 'dashboard.html' %}

<!--Only stuff in blocks show-->

{% block dashboard_main %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header" data-background-color="red">
				<h4 class="title">Pending Withdrawals</h4>
				<p class="category">All pending withdrawals</p>
			</div>
			
			<div class="card-content table-responsive">
				<table class="table">
					<thead class="text-primary">
						<th>User</th>
						<th>Amount</th>
						<th>Coin</th>
						<th>Address</th>
						<th>Status</th>
						<th>Date</th>
						<th></th>
					</thead>
					<tbody>
						<tr>
							{% for withdrawal in pending_withdrawals %}
							<tr>
								<td>{{ withdrawal.user.user.email }}</td>
								<td>${{ withdrawal.amount }}</td>
								<td>{{ withdrawal.coin_type_name }}</td>
								<td>{{ withdrawal.address }}</td>
								<td>{{ withdrawal.status_name }}</td>
								<td>{{ withdrawal.created_at }}</td>
								<td>
									<a href="{% url 'admin_withdrawal_detail' withdrawal_id=withdrawal.id %}">
									<i class="material-icons">remove_red_eye</i>
									</a>	
								</td>
							</tr>
							{% endfor %}
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>


	<div class="col-md-12">
		<div class="card">
			<div class="card-header" data-background-color="red">
				<h4 class="title">Confirmed Withdrawals</h4>
				<p class="category">All confirmed withdrawals</p>
			</div>
			
			<div class="card-content table-responsive">
				<table class="table">
					<thead class="text-primary">
						<th>User</th>
						<th>Amount</th>
						<th>Coin</th>
						<th>Address</th>
						<th>Status</th>
						<th>Date</th>
						<th></th>
					</thead>
					<tbody>
						<tr>
							{% for withdrawal in confirmed_withdrawals %}
							<tr>
								<td>{{ withdrawal.user.user.email }}</td>
								<td>${{ withdrawal.amount }}</td>
								<td>{{ withdrawal.coin_type_name }}</td>
								<td>{{ withdrawal.address }}</td>
								<td>{{ withdrawal.status_name }}</td>
								<td>{{ withdrawal.created_at }}</td>
								<td>
									<a href="{% url 'admin_withdrawal_detail' withdrawal_id=withdrawal.id %}">
									<i class="material-icons">remove_red_eye</i>
									</a>	
								</td>
							</tr>
							{% endfor %}
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
{% endblock dashboard_main %}
