
{% extends 'components/base_dashboard.html' %}

{% block dashboard_content %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				{% block dashboard_stats %}
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="green">
							<i class="material-icons">devices_other</i>
						</div>
						<div class="card-content">
							<p class="category">Total Users</p>
							<h3 class="title">{{ user.userprofile.regular_user_count }}</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">update</i> Just Updated
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="blue">
							<i class="material-icons">visibility</i>
						</div>
						<div class="card-content">
							<p class="category">Wallet Balance</p>
							<h3 class="title">${{ platformwallet.wallet.balance|default:'0.00' }}</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">update</i> Just Updated
							</div>
						</div>
					</div>
				</div>
				{% endblock dashboard_stats %}
				{% block reminder_block %}
				<!-- <div class="col-lg-12">
					<div class="card">
						<div class="card-content">
							<p class="category">Referral Link</p>
							<h3 class="title">{% url 'register' %}?referrer={{ user.userprofile.referral_code }}</h3>
						</div>
					</div>
				</div> -->
				{% endblock reminder_block %}
			</div>
			{% block dashboard_main %}
			{% endblock dashboard_main %}
		</div>
	</div>
{% endblock dashboard_content %}