
{% extends 'components/base_flat.html' %}

{% url 'bot_detail' as bot_detail_link %}

<!-- body class -->
{% block body_class %}landing-page{% endblock body_class %}

<!-- Navbar -->
{% block navbar %}
	{% include 'components/navbars/navbar_default.html' %}
{% endblock navbar %}
<!-- End Navbar -->

{% block header %}
	{% include 'components/includes/header_filter.html' %}
{% endblock header %}

{% load panel_tags %}

</div>
</div>

{% block flat_content %}
<div class="main main-raised">
		<div class="container">
			<div class="section text-center section-landing">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="title">About Us</h2>
						<h5 class="description">
							Coin Boost, a fund manager located in La Jolla, CA, focuses primarily on managing investment portfolios of digital currencies and related assets through fund structures designed for investment by US and Non-US high net worth individuals and institutional investors. Certain fund strategies may pursue strategic investments in promising early-stage blockchain projects.
						</h5>
					</div>
				</div>

				<div class="features">
					<div class="row">
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-primary">
									<i class="material-icons">chat</i>
								</div>
								<h4 class="info-title">Professional Fund Management</h4>
								<p>
									Coin Boost offers ease of access by qualified high-net-worth individuals and institutions seeking exposure to a portfolio of digital assets managed by highly-experienced managers, traders and analysts in the crypto space. 
									Funds offered by Coin Boost provide exposure to digital assets through a single fund investment, eliminating the hassle of maintaining multiple public and private keys, wallets, exchange accounts, and often varied and complex tax documentation.
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-success">
									<i class="material-icons">verified_user</i>
								</div>
								<h4 class="info-title">Active ETH & BTC Management</h4>
								<p>
									For firms that have recently completed a successful ICO and hold significant Ether (ETH) or Bitcoin (BTC) reserves or anyone with significant ETH or BTC holdings, Coin Boost believes a passive hold strategy can pose undue market risk considering the extremely volatile nature of the digital currency markets. 
									Investment of all or a portion of such currency holdings in fund strategies that in turn will trade, invest and/or lend across multiple digital asset classes, and are actively managed by Coin Boost’s dedicated team of experienced professionals, may offer a more attractive risk alternative to those holding significant uninvested ETH or BTC.
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-danger">
									<i class="material-icons">fingerprint</i>
								</div>
								<h4 class="info-title">Early Stage Blockchain Investing</h4>
								<p>
									Coin Boost meticulously analyzes and tracks what it views as the most promising technologies built on the blockchain. 
									Its management team has reviewed the investment merits of thousands of projects and developed a proprietary seven pillar due diligence process for screening new ventures. 
									Less than one percent of projects Coin Boost’s investment team reviews make the cut for inclusion within fund investment portfolios.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section text-center">
				<h2 class="title">Here is our team</h2>

				<div class="team">
					<div class="row">
						<div class="col-md-4">
							<div class="team-player">
								<img src="{% static_main 'img/avatar.jpg' %}" alt="Thumbnail Image" class="img-raised img-circle">
								<h4 class="title">Gigi Hadid <br />
									<small class="text-muted">Model</small>
								</h4>
								<p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
								<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-instagram"></i></a>
								<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-facebook-square"></i></a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-player">
								<img src="{% static_main 'img/christian.jpg' %}" alt="Thumbnail Image" class="img-raised img-circle">
								<h4 class="title">Christian Louboutin<br />
									<small class="text-muted">Designer</small>
								</h4>
								<p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
								<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-player">
								<img src="{% static_main 'img/kendall.jpg' %}" alt="Thumbnail Image" class="img-raised img-circle">
								<h4 class="title">Kendall Jenner<br />
									<small class="text-muted">Model</small>
								</h4>
								<p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
								<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-google-plus"></i></a>
								<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-youtube-play"></i></a>
								<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-twitter"></i></a>
							</div>
						</div>
					</div>
				</div>

			</div>


			<div class="section landing-section">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center title">Contact us</h2>
						<!-- <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4> -->
						<form class="contact-form">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Your Name</label>
										<input type="email" class="form-control">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Your Email</label>
										<input type="email" class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group label-floating">
								<label class="control-label">Your Messge</label>
								<textarea class="form-control" rows="4"></textarea>
							</div>

							<div class="row">
								<div class="col-md-4 col-md-offset-4 text-center">
									<button class="btn btn-primary btn-raised">
										Send Message
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock flat_content %}