{% extends 'user_dashboard.html' %}

{% url 'profile' as 'profile_link' %}
<!--Only stuff in blocks show-->

{% block dashboard_main %}
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header" data-background-color="green">
							<h4 class="title">Edit Profile</h4>
							<p class="category">Double check the addresses to ensure no loss of coins</p>
						</div>
						<!-- Edit profile form -->
						{% include 'components/includes/generic_dashboard_form.html' with form=edit_profile_form form_method='post' form_link=profile_link submit_text='Update' col_class='col-md-12' %}
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-profile">
						<!-- <div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="../assets/img/faces/marc.jpg" />
							</a>
						</div> -->

						<div class="content">
							<!-- <h6 class="category text-gray">Referral link: email2</h6> -->
							<h4 class="card-title">{{ user.email }}</h4>
							<div class="card-content">
								<h6 style="display:inline-block;">ETH Address: </h6> {{ user_wallet.eth_address|default:'Not Set' }}
								<br/>
								<h6 style="display:inline-block;">BTC Address: </h6> {{ user_wallet.btc_address|default:'Not Set' }}
							</div>
							<!-- <a href="#pablo" class="btn btn-primary btn-round">Follow</a> -->
						</div>
					</div>
				</div>
			</div>
{% endblock dashboard_main %}