{% extends 'user_dashboard.html' %}

<!--Only stuff in blocks show-->
{% block dashboard_stats %}
<div class="col-lg-3 col-md-6 col-sm-6">
	<div class="card card-stats">
		<div class="card-header" data-background-color="blue">
			<i class="material-icons">info_outline</i>
		</div>
		<div class="card-content">
			<p class="category">Referred By</p>
			<h3 class="title">{{ user.userprofile.referrer.user.email|default:'Noone' }}</h3>
		</div>
		<!-- <div class="card-footer">
			<div class="stats">
				<i class="material-icons">update</i> Just Updated
			</div>
		</div> -->
	</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
	<div class="card card-stats">
		<div class="card-header" data-background-color="purple">
			<i class="material-icons">wc</i>
		</div>
		<div class="card-content">
			<p class="category">Referred Users</p>
			<h3 class="title">{{ referred_users|default:'0' }}</h3>
		</div>
		<!-- <div class="card-footer">
			<div class="stats">
				<i class="material-icons">update</i> Just Updated
			</div>
		</div> -->
	</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
	<div class="card card-stats">
		<div class="card-header" data-background-color="green">
			<i class="material-icons">attach_money</i>
		</div>
		<div class="card-content">
			<p class="category">Total Earnings</p>
			<h3 class="title">${{ user.userprofile.userwallet.wallet.balance }}</h3>
		</div>
		<!-- <div class="card-footer">
			<div class="stats">
				<i class="material-icons">update</i> Just Updated
			</div>
		</div> -->
	</div>
</div>
{% endblock dashboard_stats %}

{% block dashboard_main %}
			<div class="row" id="calculate_ref_earnings">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header" data-background-color="purple">
							<h4 class="title">Calculate Referral Earnings</h4>
							<p class="category">Estimate referral earnings</p>
						</div>
						<div class="card-content">
							<div class="col-md-5">
									<div class="form-group label-floating">
										<label class="control-label">Select Plans</label>
										<select class="form-control" multiple v-model="selected_plans">
											{% for plan in plans %}
											<option value="{{plan.id}}">{{ plan.name }}</option>
											{% endfor %}
										</select>
									</div>
									
								<!-- <h4 style="display:inline-block;">Select Plans </h4>
								<br/> -->
							</div>
							<div class="col-md-offset-2 col-md-5">
								<div class="row">
									<div class="form-group label-floating">
										<label class="control-label">Total Referrals</label>
										<input type="number" class="form-control" v-model="referrals"/>
									</div>
								</div>
								<div class="row">
									<div class="form-group label-floating">
										<p class="text-danger" v-text="error"></p>
										<label class="control-label">Referral Invested Amount</label>
										<input type="number" class="form-control" v-model="amount"/>
									</div>
								</div>
								<h6 style="display:inline-block;"> Total Earning:
									<b>$<span class="" v-text="total_earning"></span></b>
								</h6>
								<h6 style="display:inline-block;"> Total Referral Commission:
									<b><span class="" v-text="referral_commission"></span>%</b>
								</h6>
								<!-- <h4 style="display:inline-block;">Select Plans </h4> -->
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock dashboard_main %}

{% block vue_script %}
<script type="text/javascript">

	// initialize variables
	var plans = []
	{% for plan in plans %}
		plans.push({
			id: {{ plan.id }},
			name: '{{ plan.name }}',
			minimum_deposit: {{ plan.minimum_deposit }},
			referral_commission: {{ plan.referral_commission }},
			cashout_frequency: {{ plan.cashout_frequency }},
		})
	{% endfor %}
	
	var pyvars = {
		plans: plans,
		selected_plans: [],
		total_earning: 0.00,
		referrals: 0,
		amount: 0.00,
		error: null,
	}

	// Object.freeze(pyvars)

	const calculate_earnings = new Vue({
		el: '#calculate_ref_earnings',
		data () {
			return pyvars
		},
		computed: {
			referral_commission() {
				var selected_plans = this.plan_ids_to_objects(this.selected_plans)
				var total_commission = 0
				for (var plan of selected_plans) {
					total_commission += plan.referral_commission
				}
				
				total_commission = Math.round(total_commission * 100) / 100
				return total_commission
			},
			least_deposit() {
				min_deposits = this.plans.map(function (plan) {
					return plan.minimum_deposit
				})
				return Math.min(...min_deposits)
			},
		},
		watch : {
			'referrals': function(newValue, oldValue) {
				this.calculate_earnings()
			},
			'amount': function(newValue, oldValue) {
				this.calculate_earnings()
			},
			'selected_plans': function(newValue, oldValue) {
				this.calculate_earnings()
			}
		},
		methods: {
			plan_ids_to_objects(selected_plan_ids) {
				// turn selected ids to objects
				var selected_plans = []
				for (var plan_id of selected_plan_ids) {
					selected_plans.push(this.get_plan_by_id(parseInt(plan_id)))
				}
				return selected_plans
			},
			calculate_earnings() {
				var selected_plan_ids = this.selected_plans
				if (selected_plan_ids) {
					// turn selected ids to objects
					var selected_plans = this.plan_ids_to_objects(selected_plan_ids)
					// if amount is lower name least deposit
					if (this.amount < this.least_deposit) {
						this.error = 'The minimum deposit is $' + this.least_deposit
						return
					}
					// calculate earnings with amount and referral total
					this.error = null
					var total_earnings = 0.00
					for (var plan of selected_plans) {
						total_earnings += this.calculate_single_plan(plan)
					}
					
					this.total_earning = Math.round(total_earnings * 100) / 100
					return total_earnings

				}
				return 0.00
			},
			get_plan_by_id(plan_id) {
				for (var plan of this.plans) {
					if (plan.id === plan_id) {
						return plan
					}
				}
			},
			calculate_single_plan(plan) {
				// calculate earning for one plan
				var plan_total_days = plan.cashout_frequency
				var referral_commission = plan.referral_commission
				var amount = parseFloat(this.amount)
				var referrals = parseInt(this.referrals)
				// calc total earning for complete plan days
				var earning_for_single_referral = amount * (referral_commission/100)
				var total_earning = earning_for_single_referral * referrals
				return total_earning
			},
		}
	})

</script>
{% endblock vue_script %}