
{% extends 'components/base_dashboard.html' %}

{% block dashboard_content %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				{% block dashboard_stats %}
				<!-- <div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="blue">
							<i class="material-icons">visibility</i>
						</div>
						<div class="card-content">
							<p class="category">Wallet Balance</p>
							<h3 class="title">{{ online_bots }}</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">update</i> Just Updated
							</div>
						</div>
					</div>
				</div> -->
				{% endblock dashboard_stats %}
				{% block reminder_block %}
				<div class="col-lg-12">
					<div class="card">
						<div class="card-content">
							<p class="category">Referral Link</p>
							<h3 class="title">{% url 'register' %}?referrer={{ user.userprofile.referral_code }}</h3>
						</div>
					</div>
				</div>
				{% endblock reminder_block %}
				
			</div>
			{% block dashboard_main %}
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header" data-background-color="purple">
								<h4 class="title">{% block main_table_name %}Deposits{% endblock main_table_name %}</h4>
								<p class="category">{% block main_table_description %}All confirmed and pending deposits{% endblock main_table_description %}</p>
							</div>
						{% block main_table %}
							<div class="card-content table-responsive">
								<table class="table">
									<thead class="text-primary">
										<th>Amount</th>
										<th>Coin</th>
										<th>Your Address</th>
										<th>Recipient Address</th>
										<th>Investment Plan</th>
										<th>Status</th>
										<th>Date</th>
									</thead>
									<tbody>
										{% for deposit in deposits %}
										<tr>
											<!-- <td><a class="text-danger" href="{{ bot_detail_link }}{{ bot.id }}">{{ bot.name }}</a></td> -->
											<td>${{ deposit.amount }}</td>
											<td>{{ deposit.coin_type_name }}</td>
											<td>{{ deposit.sender_address }}</td>
											<td>{{ deposit.recipient_address }}</td>
											<td>{{ deposit.investment_plan.name }}</td>
											<td>{{ deposit.status_name }}</td>
											<td>{{ deposit.created_at }}</td>
											<!-- <td><button class="btn btn-info">Download Passwords</button></td> -->
										</tr>
										{% endfor %}
									</tbody>
								</table>

							</div>
						{% endblock main_table %}
						</div>
					</div>

					<div class="col-md-12">
						<div class="card">
							<div class="card-header" data-background-color="red">
								<h4 class="title">{% block secondary_table_name %}Withdrawals{% endblock secondary_table_name %}</h4>
								<p class="category">{% block secondary_table_description %}All confirmed and pending withdrawals{% endblock secondary_table_description %}</p>
							</div>
						{% block secondary_table %}
							<div class="card-content table-responsive">
								<table class="table">
									<thead class="text-primary">
										<th>Amount</th>
										<th>Coin</th>
										<th>Address</th>
										<th>Status</th>
										<th>Date</th>
									</thead>
									<tbody>
										<tr>
											{% for withdrawal in withdrawals %}
											<tr>
												<!-- <td><a class="text-danger" href="{{ bot_detail_link }}{{ bot.id }}">{{ bot.name }}</a></td> -->
												<td>${{ withdrawal.amount }}</td>
												<td>{{ withdrawal.coin_type_name }}</td>
												<td>{{ withdrawal.address }}</td>
												<td>{{ withdrawal.status_name }}</td>
												<td>{{ withdrawal.created_at }}</td>
												<!-- <td><button class="btn btn-info">Download Passwords</button></td> -->
											</tr>
											{% endfor %}
										</tr>
									</tbody>
								</table>

							</div>
						{% endblock secondary_table %}
						</div>
					</div>
				</div>
			{% endblock dashboard_main %}
		</div>
	</div>
{% endblock dashboard_content %}