
{% extends 'components/base_dashboard_assets.html' %}

{% block content %}
	{% load panel_tags %}
	{% url 'index' as home_link %}
	{% url 'login' as login_link %}
	{% url 'authenticate' as auth_link %}
	{% url 'register_user' as register_user_link %}
	{% url 'register' as register_link %}
	{% url 'password_reset' as password_reset_link %}

    {% include 'components/navbars/navbar_color_relative.html' %}

    <div class="col-md-4 col-md-offset-4">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">{% block form_title %}Form Title{% endblock form_title %}</h4>
                <p class="category">{% block form_description %}Form Description{% endblock form_description %}</p>
            </div>
            <div class="card-content">
                {% if auth_form.errors %}
                    {% block form_errors_msg %}
                    <!-- generic error message[login] -->
                    {% endblock form_errors_msg %}
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        {% block auth_success_redirect_fail_msg %}<p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>{% endblock auth_success_redirect_fail_msg %}
                    {% else %}
                        {% block redirect_fail_msg %}<p>Please login to see this page.</p>{% endblock redirect_fail_msg %}
                    {% endif %}
                {% endif %}
                <form action="{% block post_link %}{{ register_link }}/?{{ request.GET.urlencode }}{% endblock post_link %}" method="post">
                    {% csrf_token %}
                    {% include 'components/includes/default_form_snippet.html' with form=auth_form %}

                    <div class="pull-left" style="margin: 10px 0;">
                        {% block alt_content %}
                        <a href="{% block alt_link %}{{ login_link }}{% endblock alt_link %}">
                            {% block alt_text %}Already have an account? Log in{% endblock alt_text %}
                        </a>
                        {% endblock alt_content %}
                        <br>
                        {% block reset_pwd %}
                        <a href="{{ password_reset_link }}" class="text-danger">
                            {% block reset_pwd_text %}Forgot Password?{% endblock reset_pwd_text %}
                        </a>
                        {% endblock reset_pwd %}
                    </div>
                    <input type="submit" class="btn btn-primary pull-right" value="{% block submit_text %}Submit{% endblock submit_text %}"/>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
