
{% extends 'components/base_flat_assets.html' %}

{% block content %}
	{% load panel_tags %}
	{% url 'index' as home_link %}
	{% url 'about_us' as about_us %}
	{% url 'services' as services %}
	{% url 'login' as login_link %}
	{% url 'register' as register_link %}

<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
        <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    	<a href="{{ home_link }}">
	        	<div class="logo-container">
	                <div class="logo">
	                    <img src="{% static_main 'img/logo.png' %}" alt="Home" rel="tooltip" title="<b>Material Kit</b> was Designed & Coded with care by the staff from <b>Creative Tim</b>" data-placement="bottom" data-html="true">
	                </div>
	                <div class="brand">
	                    Coin Boost
	                </div>


				</div>
	      	</a>
	    </div>

	    <div class="collapse navbar-collapse" id="navigation-index">
	    	<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{ services }}" target="_blank">
						<i class="material-icons">dashboard</i> Dashboard
					</a>
				</li>
				<li>
					<a href="{{ about_us }}" target="_blank">
						<i class="material-icons">info</i> About Us
					</a>
				</li>
				<li>
					<a href="{{ services }}" target="_blank">
						<i class="material-icons">assignment</i> Services
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Profile
						<!-- <i class="material-icons">person</i> -->
						<b class="caret"></b>
						<div class="ripple-container"></div>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<!-- <li class="dropdown-header">Dropdown header</li> -->
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="#">Balance: $100</a></li>
						<li class="divider"></li>
						<li><a href="#">Logout</a></li>
					</ul>
				</li>
				<li>
					<a href="{{ register_link }}" target="_blank">
						<!-- <i class="material-icons">person add</i>  -->
						Register
					</a>
				</li>
				<li>
					<a href="{{ login_link }}" target="_blank">
						<!-- <i class="material-icons">unarchive</i>  -->
						Login
					</a>
				</li>

	    	</ul>
	    </div>
	</div>
</nav>
<!-- End Navbar -->

<div class="wrapper">
	{% block header_filter %}
	<div class="header header-filter" style="background-image: url("{% static_main 'assets/img/bg2.jpeg' %}"); transform: translate3d(0px, 27.3333px, 0px);">
		<div class="container">
			{% block header_filter_inner %}
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Material Kit.</h1>
						<h3>A Badass Bootstrap UI Kit based on Material Design.</h3>
					</div>
				</div>
			</div>
			{% endblock header_filter_inner %}

		</div>
	</div>
	{% endblock header_filter %}
	{% block header_plain %}
	<div class="header">
		{% block header_plain_inner %}
		{% endblock header_plain_inner %}
	</div>
	{% endblock header_plain %}
	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	{% block main_container %}
	<div class="main">
		<div class="container">


			{% block flat_content %}
			{% endblock flat_content %}
			
		</div>
	</div>
	{% endblock main_container %}
</div>

			
			<footer class="footer">
				<div class="container">
					<nav class="pull-left">
						<ul>
							<li>
								<a href="http://www.creative-tim.com">
									Creative Tim
								</a>
							</li>
							<li>
								<a href="http://presentation.creative-tim.com">
								   About Us
								</a>
							</li>
							<li>
								<a href="http://blog.creative-tim.com">
								   Blog
								</a>
							</li>
							<li>
								<a href="http://www.creative-tim.com/license">
									Licenses
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright pull-right">
						&copy; 2016, made with <i class="material-icons">favorite</i> by Creative Tim for a better web.
					</div>
				</div>
			</footer>
		</div>
	</div>
{% endblock %}
