
{% extends 'components/base_dashboard_assets.html' %}

{% block content %}
	{% load panel_tags %}
	{% url 'index' as home_link %}
	{% url 'about_us' as about_link %}
	{% url 'services' as services_link %}
	{% url 'profile' as profile_link %}
	{% if user.userprofile.is_regular %}
		{% url 'user_dashboard' as dashboard_home %}
		{% url 'referrals' as referrals_link %}
		{% url 'wallet' as wallet_link %}
	{% elif user.userprofile.is_admin %}
		{% url 'dashboard_index' as dashboard_home %}
		{% url 'admin_wallet' as wallet_link %}
		{% url 'admin_deposits' as deposits_link %}
		{% url 'admin_withdrawals' as withdrawal_link %}
	{% elif user.userprofile.is_superuser %}
		{% url 'super_dashboard_index' as dashboard_home %}
		{% url 'super_wallet' as wallet_link %}
		{% url 'super_deposits' as deposits_link %}
		{% url 'super_withdrawals' as withdrawal_link %}
		{% url 'super_users' as users_link %}
	{% endif %}


	<div class="wrapper">

	    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
			<!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

			<div class="logo">
				<a href="{% url 'profile' %}" class="simple-text">
					{{ user.email }}
				</a>
			</div>

	    	<div class="sidebar-wrapper">
	            <ul class="nav">
	                <li class="{% active_route request dashboard_home %}">
	                    <a href="{{ dashboard_home }}">
	                        <i class="material-icons">content_paste</i>
	                        <p>Dashboard</p>
	                    </a>
	                </li>
	                <li class="{% active_route request wallet_link %}">
	                    <a href="{{ wallet_link }}">
	                        <i class="material-icons">account_balance_wallet</i>
	                        <p>Wallet</p>
	                    </a>
					</li>
					{% if user.userprofile.is_regular %}
	                <li class="{% active_route request referrals_link %}">
	                    <a href="{{ referrals_link }}">
	                        <i class="material-icons">assessment</i>
	                        <p>Referrals</p>
	                    </a>
					</li>
					{% endif %}
					{% if user.userprofile.is_admin or user.userprofile.is_superuser %}
	                <li class="{% active_route request deposits_link %}">
	                    <a href="{{ deposits_link }}">
	                        <i class="material-icons">local_atm</i>
	                        <p>Deposits</p>
	                    </a>
	                </li>
	                <li class="{% active_route request withdrawal_link %}">
	                    <a href="{{ withdrawal_link }}">
	                        <i class="material-icons">first_page</i>
	                        <p>Withdrawal Requests</p>
	                    </a>
					</li>
					{% endif %}
					<!-- super admin only -->
					{% if user.userprofile.is_superuser %}
	                <li class="{% active_route request users_link %}">
	                    <a href="{{ users_link }}">
	                        <i class="material-icons">wc</i>
	                        <p>Users</p>
	                    </a>
					</li>
					{% endif %}
	                <li class="{% active_route request about_link %}">
	                    <a href="{{ about_link }}">
	                        <i class="material-icons">info</i>
	                        <p>About Us</p>
	                    </a>
					</li>
	                <li class="{% active_route request services_link %}">
	                    <a href="{{ services_link }}">
	                        <i class="material-icons">assignment</i>
	                        <p>Services</p>
	                    </a>
					</li>
	            </ul>
	    	</div>
	    </div>

	    <div class="main-panel">
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{ home_link }}">Coin Boost</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="{{ profile_link }}">
									<i class="material-icons">person</i>
									<p class="hidden-lg hidden-md">Profile</p>
								</a>
							</li>
							{% if user.userprofile.is_regular %}
							<li>
								<a href="{{ wallet_link }}">
									<p>Balance: ${{ user.userprofile.userwallet.wallet.balance }}</p>
								</a>
							</li>
							{% endif %}
							<li>
								<a href="{% url 'logout' %}">
									<p class="">Logout</p>
									<!-- <i class="material-icons">person</i> -->
								</a>
							</li>
						</ul>

						<!-- <form class="navbar-form navbar-right" role="search">
							<div class="form-group  is-empty">
								<input type="text" class="form-control" placeholder="Search">
								<span class="material-input"></span>
							</div>
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
						</form> -->
					</div>
				</div>
			</nav>

			{% block dashboard_content %}
			{% endblock dashboard_content %}

			<footer class="footer">
				<div class="container-fluid">
					<p class="copyright pull-right">
						&copy; <script>document.write(new Date().getFullYear())</script> Made with love for you
					</p>
				</div>
			</footer>
		</div>
	</div>
{% endblock %}