


<div class="card card-profile">
    <!-- <div class="card-avatar">
        <a href="#pablo">
            <img class="img" src="../assets/img/faces/marc.jpg" />
        </a>
    </div> -->

    <div class="content">
        <h6 class="category text-success">
                <i class="material-icons">done_all</i>
        </h6>
        <h4 class="card-title">{{ info_message }}</h4>
        <!-- <div class="card-content">
            <h6 style="display:inline-block;">ETH Address: </h6> {{ user.userprofile.userwallet.wallet.eth_address|default:'Not Set' }}
            <br/>
            <h6 style="display:inline-block;">BTC Address: </h6> {{ user.userprofile.userwallet.wallet.btc_address|default:'Not Set' }}
        </div> -->
        <!-- <a href="{% url 'wallet' %}" class="btn btn-primary btn-round">Go Back</a> -->
    </div>
</div>