{% extends 'components/base_auth_form.html' %}

<!--Only stuff in blocks show-->
{% block form_title %}User Login{% endblock form_title %}
{% block form_description %}Create an account{% endblock form_description %}
<!-- <div class="card-content"> -->
<!-- Error handling -->
{% if form.errors %}
    {% block form_errors_msg %}<p>Your username and password didn't match. Please try again.</p>{% endblock form_errors_msg %}
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        {% block auth_success_redirect_fail_msg %}<p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>{% endblock auth_success_redirect_fail_msg %}
    {% else %}
        {% block redirect_fail_msg %}<p>Please login to see this page.</p>{% endblock redirect_fail_msg %}
    {% endif %}
{% endif %}
{% block post_link %}{% url 'login' %}{% endblock post_link %}


{% block alt_link %}{{ register_link }}{% endblock alt_link %}
{% block alt_text %}Don't have an account? Register{% endblock alt_text %}
{% block submit_text %}Login{% endblock submit_text %}
